{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}WiSe17: Registierung von "{{ reg.user.full_name }}"{% endblock %}

{% macro show_form_errors(form, container = True) %}
{% if form.errors -%} {# don't output anything if there are no errors #}
{% if container -%}
  <div class="row">
    <div class="col-sm-12">
{% endif -%}
      <div class="alert alert-danger" role="alert">
        <p><strong>Errors when validating form data:</strong></p>
        {{ wtf.form_errors(form) }}
      </div>
{% if container %}
    </div>
  </div>
{% endif -%}
{% endif -%}
{% endmacro -%}

{% block content %}
<div class="container">
  <h2>
    Winter17: Details der Registrierung von "{{ reg.user.full_name }}"
  </h2>

  <form method="POST">
  {{ form.hidden_tag() }}
  <div class="form-horizontal">
  {{ show_form_errors(form) }}
  <div class="form-group row">
    <label class="col-sm-3 control-label" for="vorname">Vorname</label>
    <div class="col-sm-9">
      <input id="vorname" name="vorname" type="text" class="form-control" readonly="readonly" value="{{ reg.user.firstName }}" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 control-label" for="nachname">Nachname</label>
    <div class="col-sm-9">
      <input id="nachname" name="nachname" type="text" class="form-control" readonly="readonly" value="{{ reg.user.surname }}" />
    </div>
  </div>
  <div class="form-group row">
    {{ form.spitzname.label(class='col-sm-3 control-label') }}
    <div class="col-sm-9">
      {{ form.spitzname(class='form-control') }}
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 control-label" for="mail">E-Mail</label>
    <div class="col-sm-9">
      <input id="mail" name="mail" type="text" class="form-control" readonly="readonly" value="{{ reg.user.mail }}" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 control-label" for="uni">Uni</label>
    <div class="col-sm-9">
      <input id="uni" name="uni" type="text" class="form-control" readonly="readonly" value="{{ reg.uni.name }}" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 control-label" for="essen">Essenstyp</label>
    <div class="col-sm-9">
      <input id="essen" name="essen" type="text" class="form-control" readonly="readonly" value="{{ ESSEN_TYPES[reg.data['essen']] }}" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 control-label" for="mittag1">Mittagessen Sonntag</label>
    <div class="col-sm-9">
      <input id="mittag1" name="mittag1" type="text" class="form-control" readonly="readonly" value="{{ MITTAG1_TYPES[reg.data['mittag1']] }}" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 control-label" for="mittag2">Mittagessen Montag</label>
    <div class="col-sm-9">
      <input id="mittag2" name="mittag2" type="text" class="form-control" readonly="readonly" value="{{ MITTAG2_TYPES[reg.data['mittag2']] }}" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 control-label" for="mittag3">Mittagessen Dienstag</label>
    <div class="col-sm-9">
      <input id="mittag3" name="mittag3" type="text" class="form-control" readonly="readonly" value="{{ MITTAG3_TYPES[reg.data['mittag3']] }}" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 control-label" for="allergien">Allergien</label>
    <div class="col-sm-9">
      <input id="allergien" name="allergien" type="text" class="form-control" readonly="readonly" value="{{ reg.data['allergien'] }}" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 control-label" for="heiss">Heißgetränk</label>
    <div class="col-sm-9">
      <input id="heiss" name="heiss" type="text" class="form-control" readonly="readonly" value="{{ HEISSE_GETRAENKE_TYPES[reg.data['heissgetraenk']] }}" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 control-label" for="getraenk">Getränkewunsch</label>
    <div class="col-sm-9">
      <input id="getraenk" name="getraenk" type="text" class="form-control" readonly="readonly" value="{{ reg.data['getraenk'] }}" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 control-label" for="tshirt">T-Shirt-Größe</label>
    <div class="col-sm-9">
      <input id="tshirt" name="tshirt" type="text" class="form-control" readonly="readonly" value="{{ TSHIRTS_TYPES[reg.data['tshirt']] }}" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 control-label" for="hoodie">Hoodie-Größe</label>
    <div class="col-sm-9">
      <input id="hoodie" name="hoodie" type="text" class="form-control" readonly="readonly" value="{{ TSHIRTS_TYPES[reg.data['hoodie']] }}" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 control-label" for="muetze">Mütze?</label>
    <div class="col-sm-9">
      <input id="muetze" name="muetze" type="text" class="form-control" readonly="readonly" value="{% if reg.data['muetze'] %}Ja{% else %}Nein{% endif %}" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 control-label" for="ex1">Exkursion: Erstwunsch</label>
    <div class="col-sm-9">
      <input id="ex1" name="ex1" type="text" class="form-control" readonly="readonly" value="{{ EXKURSIONEN_TYPES[reg.data['exkursion1']][0] }}" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 control-label" for="ex2">Exkursion: Zweitwunsch</label>
    <div class="col-sm-9">
      <input id="ex2" name="ex2" type="text" class="form-control" readonly="readonly" value="{{ EXKURSIONEN_TYPES[reg.data['exkursion2']][0] }}" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 control-label" for="ex3">Exkursion: Drittwunsch</label>
    <div class="col-sm-9">
      <input id="ex3" name="ex3" type="text" class="form-control" readonly="readonly" value="{{ EXKURSIONEN_TYPES[reg.data['exkursion3']][0] }}" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 control-label" for="ex4">Exkursion: Viertwunsch</label>
    <div class="col-sm-9">
      <input id="ex4" name="ex4" type="text" class="form-control" readonly="readonly" value="{{ EXKURSIONEN_TYPES[reg.data['exkursion4']][0] }}" />
    </div>
  </div>
  <div class="form-group row">
    {{ form.exkursion_overwrite.label(class='col-sm-3 control-label') }}
    <div class="col-sm-9">
      {{ form.exkursion_overwrite(class='form-control') }}
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 control-label" for="anreise">Anreise</label>
    <div class="col-sm-9">
      <input id="anreise" name="anreise" type="text" class="form-control" readonly="readonly" value="{{ ANREISE_TYPES[reg.data['anreise']] }}" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 control-label" for="mittwoch">Mittwoch schon abreisen?</label>
    <div class="col-sm-9">
      <input id="mittwoch" name="mittwoch" type="text" class="form-control" readonly="readonly" value="{% if reg.data['workshop'] %}Ja{% else %}Nein{% endif %}" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 control-label" for="addx">@ &sum; x</label>
    <div class="col-sm-9">
      <input id="addx" name="addx" type="text" class="form-control" readonly="readonly" value="{% if reg.data['addx'] %}Ja{% else %}Nein{% endif %}" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 control-label" for="musikwunsch">Musikwunsch</label>
    <div class="col-sm-9">
      <input id="musikwunsch" name="musikwunsch" type="text" class="form-control" readonly="readonly" value="{{ reg.data['musikwunsch'] }}" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 control-label" for="kommentar">Kommentar</label>
    <div class="col-sm-9">
      <input id="kommentar" name="kommentar" type="text" class="form-control" readonly="readonly" value="{{ reg.data['kommentar'] }}" />
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-offset-3 col-sm-9">
      {{ form.submit(class='btn btn-lg btn-default') }}
    </div>
  </div>
  </div>
  </form>
</div>
{% endblock %}
