Flask-HTTPAuth>=3.2.4
Flask-Mail>=0.9.1
Flask-Migrate>=2.4.0
Flask-SQLAlchemy>=2.3
Flask-Script>=2.0.6
Flask>=1.0.2
SQLAlchemy>=1.2.18
flask-cache>=0.13.1
flask-ldap3-login>=0.9.16
flask-login>=0.4.1
flask_bootstrap>=3.3.7
flask_oauthlib>=0.9.5
ipython>=7.3.0
ldap3>=2.5.2
requests-oauthlib==1.1.0
