{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='signin.css')}}">
{% endblock %}

{% block title %}Set new password{% endblock %}
{% block content %}
  <div class="container">
    <form class="form-password-reset" method="POST">
      <h2 class="form-password-reset-heading">Set new password</h2>
      {{ form.password(class='form-control', placeholder='Password') }}
      {{ form.confirm(class='form-control', placeholder='Repeat Password') }}
      {{ wtf.form_errors(form) }}
      {{ form.submit(class='btn btn-lg btn-primary btn-block') }}
      {{ form.hidden_tag() }}
    </form>
  </div>
{% endblock %}
