{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='signin.css')}}">
{% endblock %}

{% block title %}Sign Up{% endblock %}
{% block content %}
  <div class="container">
    <form class="form-signup" method="POST">
      <h2 class="form-signup-heading">Create your account</h2>
      {{ form.username(class='form-control', placeholder='Username') }}
      <div class="input-group">
        {{ form.givenName(class='form-control', placeholder='Given name') }}
        {{ form.surname(class='form-control', placeholder='Surname') }}
      </div>
      {{ form.mail(class='form-control', placeholder='Email') }}
      {{ form.password(class='form-control', placeholder='Password') }}
      {{ form.confirm(class='form-control', placeholder='Repeat Password') }}
      {{ wtf.form_errors(form) }}
      {{ form.recaptcha }}
      <p>Already have an account? <a href="{{url_for('user.login')}}">Sign in!</a></p>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up!</button>
      {{ form.hidden_tag() }}
    </form>
  </div>
{% endblock %}
