{% extends "base.html" %}

{% block title %}Unis{% endblock %}

{% block content %}
<div class="container">
  <h1>Unis</h1>

  <table class='table'>
    <tr>
      <th>Name</th>
      <th>Token</th>
      <th>Actions</th>
    </tr>
    {% for uni in unis %}
    <tr>
      <td>{{ uni.name  }}</td>
      <td>{{ uni.token }}</td>
      <td>
        <div class="btn-group" role="group">
          <a class="btn-default btn" href="{{url_for('registration.registrations_by_uni', uni_id=uni.id)}}">
            <span class="glyphicon glyphicon-registration-mark" aria-hidden="true"></span> Registrations
          </a>
          <a class="btn-default btn" href="{{url_for('registration.edit_uni', uni_id=uni.id)}}">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
          </a>
          <a class="btn-danger btn" href="{{url_for('registration.delete_uni', uni_id=uni.id)}}">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
          </a>
        </div>
      </td>
    </tr>
    {% endfor %}
  </table>
  <a class="btn btn-default" href="{{url_for('registration.add_uni')}}">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Uni
  </a>
</div>
{% endblock %}
