{% extends "base.html" %}

{% block title %}SoSe17: Rahmenprogramm{% endblock %}

{% block content %}
<div class="container">
  <div class="btn-group" role="group">
    <a class="btn btn-default" href="{{ url_for('registration.registration_sose17_reports') }}">
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Zurück
    </a>
  </div>

  <h1>
  Rahmenprogramm-Auswertung für ZaPF Sommer17
  </h1>

  <div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse-alkoholfrei">
          Alkoholfreies Alternativprogramm
        </a>
        <span class="badge" style="float: right">{{ result_alkoholfrei | length }}</span>
      </h4>
    </div>
    <div id="collapse-alkoholfrei" class="panel-collapse collapse">
      <div class="table-responsive">
      <table class='table table-striped'>
        <tr>
          <th>Uni</th>
          <th>Name</th>
          <th>Aktionen</th>
        </tr>
        {% for reg in result_alkoholfrei %}
        <tr>
          <td>
          {% if reg.uni %}
            <a href="{{url_for('registration.registrations_by_uni', uni_id=reg.uni.id)}}">
              {{ reg.uni.name }}
            </a>
          {% endif %}
          </td>
          <td>
            <a href="{{ url_for('registration.registration_sose17_details_registration', reg_id=reg.id) }}">
              {{ reg.user.full_name }}
            </a>
          </td>
          <td>
            <div class="btn-group" role="group">
              <a class="btn btn-default" href="{{ url_for('registration.registration_sose17_details_registration', reg_id=reg.id) }}">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Details
              </a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </table>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse-musikwunsch">
          Musikwunsch
        </a>
        <span class="badge" style="float: right">{{ result_musikwunsch | length }}</span>
      </h4>
    </div>
    <div id="collapse-musikwunsch" class="panel-collapse collapse">
      <div class="table-responsive">
      <table class='table table-striped'>
        <tr>
          <th>Uni</th>
          <th>Name</th>
          <th>Musikwunsch</th>
          <th>Aktionen</th>
        </tr>
        {% for reg in result_musikwunsch %}
        <tr>
          <td>
          {% if reg.uni %}
            <a href="{{url_for('registration.registrations_by_uni', uni_id=reg.uni.id)}}">
              {{ reg.uni.name }}
            </a>
          {% endif %}
          </td>
          <td>
            <a href="{{ url_for('registration.registration_sose17_details_registration', reg_id=reg.id) }}">
              {{ reg.user.full_name }}
            </a>
          </td>
          <td>
            {{ reg.data['musikwunsch'] }}
          </td>
          <td>
            <div class="btn-group" role="group">
              <a class="btn btn-default" href="{{ url_for('registration.registration_sose17_details_registration', reg_id=reg.id) }}">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Details
              </a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </table>
      </div>
    </div>
  </div>
  </div>
</div>
{% endblock %}
