{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block scripts %}
{{ super() }}
  <script type="text/javascript" src="{{ url_for('static', filename='js/search.js') }}"></script>
{% endblock %}

{% block content %}
<div class="container">
  <h1>Users</h1>

  <div id="search-group" class="form-group has-feedback">
    <label class="control-label sr-only" for="search">Search for users</label>
    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
      <input id="search" type="text" class="form-control input-lg" placeholder="Search">
    </div>
  </div>

  <table class='table'>
    <tr>
      <th>Username</th>
      <th>Full name</th>
      <th>E-Mail</th>
      <th>Actions</th>
    </tr>
    <tbody id="users">
      {% for user in users %}
      <tr>
        <td><a href="{{ url_for('user.profile', username=user.username) }}">{{ user.username }}</a></td>
        <td>{{ user.full_name }}</td>
        <td>{{ user.mail }}</td>
        <td>
          <div class="btn-group" role="group">
            <a class="btn-default btn" href="{{url_for('user.edit_user', username=user.username)}}">
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp;Edit
            </a>
            <a class="btn-danger btn" href="{{url_for('user.delete_user', username=user.username)}}">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;Delete
            </a>
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
